@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .banner-web {
    background-repeat: no-repeat;

    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(83, 83, 83, 0.776536) 50%,
        #212121 100%
      ),
      url("/banner.png");
    height: fit-content;
  }
  .banner-mobile {
    background-repeat: no-repeat;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(83, 83, 83, 0.776536) 50%,
        #212121 100%
      ),
      url("/banner-mobile.png");
    height: fit-content;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../public/poppins.ttf");
}
